.articleHeader{
    float: left;
}
.articleContent{
    width: 75%;
    float: left;
    margin-left: 35px;
}

.articleEContent{
    width: 75%;
    float: left;
}

.article-section{
    padding-top: 20px;
}

.chac-col{
    border-right: orange 1px solid;
}

.chac-box{
    margin-top: 30px;
}