.img-char{
    height: 100px;
}

ul li{
    list-style-type:none;
}

ul{
    padding-left: 0px;
}

.img-link{
    margin-top: 10%;
}

.c-anchor{
    color : brown;
    text-transform: uppercase;
    padding: 10px;
    font-size: 20px;
}
